*.o
*.so
ruby/Makefile
*.5
*.8
*.6
_obj
_test
/csharp/MsgPack.suo
/csharp/MsgPack/bin
/csharp/MsgPack/obj
/csharp/*.user
/csharp/MsgPack.Test/obj
/csharp/MsgPack.Test/bin
/csharp/*.typemock*
/csharp/_Resharper.*

